/target

# Compiled binaries produced by `we` when testing .we files
/arithmetic
/comparisons
/conditionals
/globals
/hello
/pipe
/pipe-order
/print
/recursion
/booleans
/if-no-else
/multiple-strings
/rename
/string-print
/map
/floats
/dot-operators
/heterogeneous-map
/structural-types
/generics
generic-specialization
/nominal-types
/primitive-bool
/primitive-float
/primitive-int
/primitive-string
/complex-tuple
/complex-map
/t
